<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add offer</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="POST"
          th:action="@{/offer/add-offer}"
          th:object="${addOfferForm}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      th:text="${addOfferForm.description}"
                      th:classappend="${#fields.hasErrors('description') ? 'is-invalid alert-danger' : ''}"></textarea>
            <small class="text-danger"
                   th:if="${#fields.hasErrors('description')}"
                   th:text="'Description length must be between 2 and 50 characters!'"
            >Description error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number"
                   step="0.01"
                   class="form-control"
                   id="price"
                   name="price"
                   th:value="${addOfferForm.price!=0 ? addOfferForm.price : ''}"
                   th:classappend="${#fields.hasErrors('price') ? 'is-invalid alert-danger' : ''}">

            <small class="text-danger"
                   th:if="${#fields.hasErrors('price')}"
                   th:text="'Price must be a positive number!'">
                Price error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="condition" class="h4 mb-2">Condition</label>
            </div>
            <select class="browser-default custom-select"
                    id="condition"
                    name="condition"
                    th:classappend="${#fields.hasErrors('condition') ? 'is-invalid alert-danger' : ''}">
                <option value="">Select condition</option>
                <option th:each="condition : ${allConditions}"
                        th:value="${condition}"
                        th:selected="${addOfferForm.condition==condition.toString()}"
                        th:text="${condition}"></option>
            </select>

            <small class="text-danger"
                   th:if="${#fields.hasErrors('condition')}"
                   th:text="'You must select a condition!'">
                Condition error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add offer</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
