@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "reset.css";

:root {
    --color-red: #D50002;
    --color-dark-gray: #636363;
    --color-light-gray: #EEEEEE;
    --color-white: #FFFFFF
}

h1 {
    font-family: Coda,sans-serif;
    color: var(--color-red);
    font-size: 64px;
}

h2 {
    font-family: Coda,sans-serif;
    color: var(--color-red);
    font-size: 36px;
}

h3 {
    font-family: Coda,sans-serif;
    color: var(--color-red);
    font-size: 24px;
}