@media screen and (max-width: 600px) {
    header nav.site-navigation {
        display: none;
    }

    .site-main {
        margin: 0;
    }

    .site-main section.entry-header {
        border-radius: unset;
        background-size: auto;
        background-position: center;
    }

    .site-main section.entry-header button.button {
        width: 130px;
    }

    div.site-logos-container {
        min-width: 600px;
    }

    section.site-information-image {
        display: none;
    }

    section.site-information-text {
        flex: unset;
        text-align: center;
    }

    section.site-information-text p.entry-description {
        width: 70%;
        margin: 0 auto;
    }

    section.site-information-text button {
        width: 100px;
    }

    section.entry-content div.site-form {
        margin-top: 0;
    }

    section.entry-content div.site-form h2 {
        font-size: 8px;
    }

    section.entry-content div.site-form form p {
        flex-direction: column;
    }

    section.entry-content div.site-form form input {
        width: 100%;
    }

    section.entry-content div.site-form form button {
        display: inline-block;
        padding-right: 2rem;
    }

    div.site-blog-container {
        margin-top: 0;
    }

    div.site-blog-container h2 {
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    div.site-blog-container section.site-posts{
        flex-direction: column;
    }

    div.site-blog-container div.site-post{
        margin-left: 5rem;
        margin-right:  5rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}