
body,
ul,
li {
    display: flex;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.gallery {
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;
    min-width: 800px;
    max-width: 1200px;
    justify-content: space-between;
}

li {
    width: 30%;
    height: 500px;
    justify-content: center;
    border: 5px solid black;
    padding: 12px;
    background-color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);

}