*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --green: 0, 153, 0;
}

body {
    background-color: rgb(238, 238, 238);
    padding: 0;
    /*width: 900px;*/
    margin: 0 auto;
}

p {
    font-size: 16px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    border-bottom: 5px solid gray;
    width: 100%;
}

.heading {
    font-family: Georgia, serif;
    font-size: 1em;
}

header p {
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 16px;
}

header nav {
    position: relative;
    display: inline-block;
    width: 75%;
}

header nav ul li {
    padding: 16px;
    margin: 8px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(var(--green));
}

/*     ---just because of judge---   */
aside a {
    color: rgb(0, 153, 0);
}

header nav ul {
    text-align: right;
}

main {
    /*width: 70%;*/
    margin-left: 24px;
}

aside {
    width: 25%;
    vertical-align: top;
}

article section {
    text-align: justify;
}

.image {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 8px;
    margin: 0 12px;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.quote {
    font-family: Georgia, serif;
    color: gray;
    display: inline-block;
    height: 10rem;
    float: right;
    margin: 0 12px;
    font-style: italic;
    width: 40%;
    border-left: 5px solid gray;
    padding-left: 16px;
}

.quote p {
    text-align: right;
}

@media screen and (max-width: 500px) {
    p {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    p {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) {
    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px) {
    p {
        font-size: 21px;
    }
}

@media screen and (min-width: 1800px) {
    p {
        font-size: 23px;
    }
}

